// COLORS FROM SKETCH
$page-header-height: 277px;
$base: 16px;
$white: white;
$black: #000000;
$green: #40bfa3;
$light-green: #3ac1a3;
$gray: #8b8a8d;
$gray2: #474747;
$red: #ff5757;

// Blues
$blue-middle: #2c97ff;
$blue-light: #97cdff;
$deep-blue: #00005e;
$vivid-blue: #0000ff;
$medium-blue: #3399ff;
$light-blue: #99ccff;
$nordea-blue: #031198;
$blue: $nordea-blue;


// Background
$light-background: #e5f2ff;

// Pink
$dark-pink: #f0c1ae;
$nordea-pink: #fbd9ca;
$light-pink: #fdece4;


// Gray colors
$dark-gray: #474748;
$nordea-gray: #8b8a8d;
$medium-gray: #c9c7c7;
$light-gray: #e6e4e3;

// Accent colors
$accent-red: #fc6161;
$accent-yellow: #ffe183;
$accent-green: #40bfa3;


// Black & White
$black: #000000;
$white: #ffffff;